<div class="card" [ngClass]="{ done: task.isCompleted }">
  <input type="checkbox" [checked]="task.isCompleted" (change)="onStatusChange($event)" style="margin-right: 10px; cursor: pointer;">
  <h3>{{ task.title }}</h3>

  @if (task.isCompleted) {
  <span class="status-badge success">Completed</span>
  } @else {
  <span class="status-badge pending">Pending</span>
  }

  <button
    (click)="onDelete()"
    style="margin-left: auto; background: #ffcdd2; border: none; padding: 5px 10px; cursor: pointer"
  >
    Delete
  </button>
</div>
